body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: url("/images/bg.jpg");
}

.logo {
	font-family: "Questrial", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.question {
	text-align: center;
	font-weight: 100 !important;
	font-size: 26px;
	width: 700px !important;
}

.item {
	min-height: 0px !important;
	text-align: center !important;
}

.answers {
	margin: 50px auto !important;
	max-width: 900px !important;
}

#timer {
	font-weight: 100;
	color: rgb(151, 151, 151);
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	font-size: 16px;
	color: rgb(109, 109, 109);
	position: relative;
	bottom: 41px;
}

.player {
	width: 140px !important;
	margin: 30px;
}

.ui.segment:after {
	display: inline !important;
}

.score {
	font-size: 20px !important;
	margin: 0px -15px !important;
}

.progress {
	margin-left: auto !important;
	margin-right: auto !important;
	width: 90% !important;
}

#progress-text {
	text-align: center !important;
	color: rgb(151, 151, 151);
	margin-top: -5px;
	font-size: 14px;
}

.content {
	font-size: 14px !important;
}

.answers .item {
	height: 150px !important;
}

#timer-bar {
	width: 700px !important;
	height: 30px;
	padding: 2px;
	margin-top: 80px;
	margin-bottom: 10px;
}

.answers {
	margin-bottom: 25px !important;
}

h1 {
	font-weight: 100;
}

.dashboard-user-image{
	border-color:#ffffff;
	float:centre;
}

#spacing {
	margin: 50px;
}

#nav {
	position: absolute;
	top: 0;
	right: 0;
}

.name {
	font-weight: 100;
	font-size: 22px;
	position: relative;
	top: 125px;
	margin: 0px -50px;
}
